{% macro balancePanel(account) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Balance for account: {{ account.displayName }}</h3>
    </div>
    <div class="panel-body">
        <div id="formLoadingForAccount{{ account.id }}">
            Loading...
        </div>
        <table class="balanceTable nodisp" id="balanceForAccount{{ account.id }}">
            <thead>
                <tr>
                    <th>Occurred on</th>
                    <th>Amount</th>
                    <th>Labels & Comments</th>
                    <th>Balance</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endmacro %}

{% if accounts is defined %}
    {% import _self as balance %}
    {% for account in accounts %}
        {{ balance.balancePanel(account) }}
    {% endfor %}
{% else %}
    Balance Mod: Error: accounts var missing!
{% endif %}